.app {
  text-align: center;
}

.emojis-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.emoji-container {
  width: 100px;
  height: 80px;
  margin-bottom: 15px;
}

.emoji-container:hover {
  background-color: rgba(128, 128, 128, 0.472);
}

.emoji-container p {
  font-size: 60px;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0px;
}